<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Productos</title>
</head>
<body>

<form th:action="@{/validar}" th:object="${producto}" method="post">
	<label>Producto: </label>
	<th>
		<select th:field="*{id}">
			<option th:each="p : ${productos}" th:value="${p.id}" th:text="${p.nombre}">
			</option>
		</select>
	</th>
	<label>Cantidad: </label><input type="text" th:field="*{cantidad}">
	<input type="submit" value="Enviar">
</form>

</body>
</html>